<h1>New Question</h1>

<%= form_for(@question, url: questions_path) do |form| %>
	<%= render partial: 'questions/form', object: form %>
	<%= submit_tag "Create" %> or <%= link_to 'Cancel', questions_path %>
<% end %>